{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div id="mainpage">
  <div id="navigationbar" class="container">
    <div class="flex flex-row">
      <div class="basis-1/2">
        <h1 class="font-bold">Ini header</h1>
      </div>
    </div>
  </div>
</div>
